@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    background: rgb(244, 199, 247);
   
}

.quote-box {
    background: linear-gradient(to bottom right, #ffadd3, #d6a4f9); 
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15),
                0 0 20px #ef89c8,
                0 0 40px #d98dd3; 
    border: 2px solid #f89cff; 
}


.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: linear-gradient(to right, #a467b7, #ff6ce2);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.quote-box blockquote {
    font-size: 28px; 
    font-weight: 500; 
    color: #333; 
}

.quote-box blockquote::before,
.quote-box blockquote::after {
    content: '"';
}

.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    font-style: italic; 
    color: #504d4d; 

}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: linear-gradient(to right, #a467b7, #ff6ce2);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button {
    background: linear-gradient(to right, #a467b7, #ff6ce2);
    color: white;
    border-radius: 25px;
    border: none; 
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    font-size: 18px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.quote-box button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    transform: translateY(-3px); 
}
.icon {
    width: 30px; 
    vertical-align: middle;
    margin-right: 10px; 
}
